.app_header__ve9RS {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    font-family: var(--font-family-sans)
}

.app_header__ve9RS,
.app_header__ve9RS [data-i2-child=nav-left-island],
.app_header__ve9RS [data-i2-child=nav-right-island] {
    z-index: var(--z-nav)
}

@media (min-width:1200px) {
    .app_header__ve9RS.floating__OszfG {
        position: static
    }
}

.app_header__ve9RS.active__MmKUV,
.app_header__ve9RS.active__MmKUV [data-i2-child=nav-left-island],
.app_header__ve9RS.active__MmKUV [data-i2-child=nav-right-island] {
    z-index: var(--z-nav-open)
}

.app_header__inner__yvPA0 {
    position: relative
}

.app_header__backdrop__YTl9E {
    background: var(--color-black-70a);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: calc(var(--z-nav-open) - 100);
    pointer-events: none
}

.container__Etr3H {
    width: 100%;
    margin: 0 auto
}

.container__Etr3H.xs__dPk1W {
    max-width: 720px
}

.container__Etr3H.sm__HK63z {
    width: 100%
}

.container__Etr3H.base__P6pmh {
    width: 100%;
    max-width: 1000px
}

.container__Etr3H.lg__BC64x {
    width: 100%;
    max-width: 1920px
}

.container__Etr3H.gutter__ieBWF {
    padding-left: var(--spacing-0-75);
    padding-right: var(--spacing-0-75)
}

@media (min-width:760px) {
    .container__Etr3H.gutter__ieBWF {
        padding-left: var(--spacing-1);
        padding-right: var(--spacing-1)
    }

    .container__Etr3H.base__P6pmh {
        max-width: 1000px
    }

    .container__Etr3H.sm__HK63z {
        max-width: calc(100% / 12 * 8)
    }
}

@media (min-width:1200px) {
    .container__Etr3H.sm__HK63z {
        max-width: calc(100% / 12 * 6);
        width: calc(920px + (var(--spacing-1-5) * 2))
    }

    .container__Etr3H.base__P6pmh {
        width: calc((100% / 12) * 10);
        max-width: calc(1492px + (var(--spacing-1-5) * 2))
    }

    .container__Etr3H.gutter__ieBWF {
        padding-left: var(--spacing-1-5);
        padding-right: var(--spacing-1-5)
    }
}

.left_island__w6YK0 {
    /* display: flex; */
    display: none !important;
    gap: var(--spacing-0-75);
    background: var(--color-white);
    box-shadow: 0 0 2px 0 var(--color-black-20a);
    border-radius: var(--radius-sm);
    padding: var(--spacing-0-25);
    max-width: -moz-max-content;
    max-width: max-content;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: var(--spacing-0-75)
}

@media (min-width:760px) {
    .left_island__w6YK0 {
        margin-top: var(--spacing-1)
    }
}

@media (min-width:1200px) {
    .left_island__w6YK0 {
        margin-top: var(--spacing-1-5)
    }
}

@media (min-width:1512px) {
    .left_island__w6YK0 {
        margin-top: var(--spacing-1-5)
    }
}

.left_island__w6YK0 ul {
    display: flex
}

.left_island__w6YK0.borderless__KPoc1 {
    border-color: transparent;
    background-color: transparent
}

@media (min-width:1200px) {
    .left_island__w6YK0 {
        padding: 6px
    }
}

@media (min-width:1512px) {
    .left_island__w6YK0 {
        padding: 7px
    }
}

.left_island__logo__StwFR {
    width: 32px;
    height: 32px;
    color: var(--color-black)
}

.left_island__logo__StwFR:focus-visible {
    outline: 2px solid var(--color-blue);
    border-radius: var(--radius-button)
}

@media (min-width:1512px) {
    .left_island__logo__StwFR {
        width: 36px;
        height: 36px
    }
}

@media (min-width:1920px) {
    .left_island__logo__StwFR {
        width: 51px;
        height: 51px
    }
}

.intercom_logomark__b9WL8 {
    display: block
}

.intercom_logomark__b9WL8>svg {
    aspect-ratio: 230/230
}

.nav_item_caret__cSRgl {
    margin-left: var(--spacing-0-5);
    transition: transform .3s;
    width: 11px
}

@media (min-width:1200px) {
    .nav_item_caret__cSRgl {
        width: 8px
    }
}

[data-testid=i2y2-app-header] .nav_item_hidden__xrDCR {
    display: none
}

.nav_item__TGdUC {
    width: 100%;
    border-radius: var(--radius-button);
    color: var(--color-black);
    font-weight: var(--font-weight-bold);
    display: flex;
    flex-direction: column;
    text-align: left
}

.nav_item__TGdUC.open__Vl9Pq .nav_item_caret__cSRgl {
    transform: rotate(180deg)
}

@media (hover:hover) and (min-width:1200px) {
    .nav_item__TGdUC:hover .nav_item_button__IDjRp {
        background-color: var(--color-cream)
    }

    .nav_item__TGdUC:hover .nav_item_button__IDjRp .nav_item_caret__cSRgl {
        transform: rotate(180deg)
    }
}

@media (hover:hover) {
    .nav_item__TGdUC:hover:after {
        display: none;
        content: "";
        position: absolute;
        left: 0
    }
}

@media (hover:hover) and (min-width:1200px) {
    .nav_item__TGdUC:hover:after {
        display: block;
        top: 2.525rem;
        width: 40ch;
        bottom: -1.25rem
    }
}

@media (hover:hover) and (min-width:1512px) {
    .nav_item__TGdUC:hover:after {
        top: 2.75rem;
        width: 40ch;
        bottom: -1.5rem
    }
}

@media (hover:hover) and (min-width:1920px) {
    .nav_item__TGdUC:hover:after {
        top: 3.3rem;
        width: 40ch;
        bottom: -1.5rem
    }
}

.nav_item_button__IDjRp {
    color: var(--color-black);
    display: flex;
    text-align: left;
    border-radius: var(--radius-button);
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-family-sans);
    letter-spacing: var(--tracking-tight);
    font-weight: var(--font-weight-bold);
    font-size: 22px;
    -webkit-text-decoration: none;
    text-decoration: none;
    padding: 12px 0
}

.nav_item_button__IDjRp:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer
}

@media (min-width:760px) {
    .nav_item_button__IDjRp {
        padding: 9px 0;
        font-size: 32px
    }
}

@media (min-width:1200px) {
    .nav_item_button__IDjRp {
        padding: 9px var(--spacing-0-5);
        font-size: 14px
    }
}

@media (min-width:1512px) {
    .nav_item_button__IDjRp {
        padding: 10px var(--spacing-0-75);
        font-size: 16px
    }
}

@media (min-width:1920px) {
    .nav_item_button__IDjRp {
        padding: 14px var(--spacing-0-75);
        font-size: 20px
    }
}

.nav_item_button__IDjRp:focus-visible {
    outline: 2px solid var(--color-blue);
    border-radius: var(--radius-button)
}

.nav_item_submenu__ph1A6 {
    display: none
}

.nav_item_submenu__ph1A6.open__Vl9Pq {
    display: inline;
    display: initial
}

.text__NkKDj {
    --text-family: var(--font-family-sans);
    --text-size: 16px;
    line-height: var(--leading-snug);
    font-family: var(--font-family-sans);
    font-family: var(--text-family);
    font-size: 16px;
    font-size: var(--text-size);
    font-weight: var(--text-weight)
}

.text_sans__ZZUYU {
    --text-family: var(--font-family-sans)
}

.text_serif__k5JmF {
    --text-family: var(--font-family-serif);
    --text-weight: var(--font-weight-light) !important
}

.text_xs__nGeVx {
    --text-size: 14px
}

.text_xs__nGeVx.text_serif__k5JmF {
    letter-spacing: -.02em
}

@media (min-width:1512px) {
    .text_xs__nGeVx {
        --text-size: 16px
    }
}

@media (min-width:1920px) {
    .text_xs__nGeVx {
        --text-size: 20px
    }
}

.text_sm___CRWY {
    --text-size: 16px
}

.text_sm___CRWY.text_serif__k5JmF {
    letter-spacing: -.02em
}

@media (min-width:1512px) {
    .text_sm___CRWY {
        --text-size: 18px
    }
}

@media (min-width:1920px) {
    .text_sm___CRWY {
        --text-size: 22px
    }
}

.text_base__tOPeL {
    --text-size: 18px
}

.text_base__tOPeL.text_serif__k5JmF {
    letter-spacing: -.04em
}

@media (min-width:760px) {
    .text_base__tOPeL {
        --text-size: 18px
    }
}

@media (min-width:1512px) {
    .text_base__tOPeL {
        --text-size: 22px
    }
}

@media (min-width:1920px) {
    .text_base__tOPeL {
        --text-size: 28px
    }
}

.text_lg__WW81I {
    --text-size: 20px;
    --text-lh: 1.2
}

.text_lg__WW81I.text_serif__k5JmF {
    letter-spacing: -.05em
}

@media (min-width:760px) {
    .text_lg__WW81I {
        --text-size: 22px
    }
}

@media (min-width:1512px) {
    .text_lg__WW81I {
        --text-size: 26px
    }
}

@media (min-width:1920px) {
    .text_lg__WW81I {
        --text-size: 32px
    }
}

.text_caption__MZVl5 {
    line-height: var(--leading-tight);
    --text-size: 14px
}

@media (min-width:1512px) {
    .text_caption__MZVl5 {
        --text-size: 16px
    }
}

@media (min-width:1920px) {
    .text_caption__MZVl5 {
        --text-size: 20px
    }
}

.text_eyebrow__Ubb8C {
    line-height: var(--leading-none);
    --text-size: 16px;
    --text-weight: var(--font-weight-bold);
    --text-family: var(--font-family-sans)
}

@media (min-width:760px) {
    .text_eyebrow__Ubb8C {
        --text-size: 14px
    }
}

@media (min-width:1512px) {
    .text_eyebrow__Ubb8C {
        --text-size: 18px
    }
}

@media (min-width:1920px) {
    .text_eyebrow__Ubb8C {
        --text-size: 2px
    }
}

.product_tray__XR_t2 {
    background: var(--color-white);
    display: grid;
    grid-template-columns: 1fr;
    border-radius: var(--radius-sm);
    padding-top: var(--spacing-0-5)
}

@media (min-width:760px) {
    .product_tray__XR_t2 {
        padding-top: 0;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 10px
    }
}

@media (min-width:1200px) {
    .product_tray__XR_t2 {
        position: absolute;
        top: 125%;
        left: 0;
        width: 858px;
        margin-bottom: 0;
        border: 1px solid var(--color-black-20a);
        padding: var(--spacing-0-5) 0 var(--spacing-0-75)
    }
}

@media (min-width:1512px) {
    .product_tray__XR_t2 {
        width: 968px;
        padding: var(--spacing-0-75) 0 var(--spacing-1-25)
    }
}

@media (min-width:1920px) {
    .product_tray__XR_t2 {
        width: 1240px;
        padding: var(--spacing-1) 0 var(--spacing-1-25)
    }
}

.product_tray__section__qFGeh {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: var(--spacing-1-5)
}

.product_tray__section__qFGeh>* {
    padding-bottom: var(--spacing-0-75)
}

@media (min-width:1512px) {
    .product_tray__section__qFGeh>* {
        padding: var(--spacing-0-75)
    }
}

@media (min-width:1920px) {
    .product_tray__section__qFGeh>* {
        padding: var(--spacing-1)
    }
}

@media (min-width:760px) {
    .product_tray__section__qFGeh {
        margin-bottom: 0;
        padding-left: var(--spacing-0-25);
        padding-right: var(--spacing-0-25)
    }
}

@media (min-width:1200px) {
    .product_tray__section__qFGeh {
        padding-left: var(--spacing-0-5);
        padding-right: var(--spacing-0-5)
    }

    .product_tray__section__qFGeh:not(:last-child) {
        border-right: 1px solid var(--color-black-20a)
    }
}

@media (min-width:1512px) {
    .product_tray__section__qFGeh {
        padding-top: 0;
        padding-left: var(--spacing-0-75);
        padding-right: var(--spacing-0-75)
    }
}

@media (min-width:1920px) {
    .product_tray__section__qFGeh {
        padding-left: var(--spacing-1);
        padding-right: var(--spacing-1)
    }
}

.product_tray__links__4Fpax {
    border-left: 1px solid var(--color-black-20a);
    padding: 0
}

@media (min-width:760px) {
    .product_tray__links__4Fpax {
        border-left: none
    }
}

.display__Ajr5Q {
    --bp-min: 375;
    --bp-max: 759;
    --preferred-scale: calc((100 * (var(--max) - var(--min))) / (var(--bp-max) - var(--bp-min)));
    --preferred-base: calc(((var(--bp-min) * var(--max)) - (var(--bp-max) * var(--min))) / (var(--bp-min) - var(--bp-max)));
    font-size: max(calc(var(--min) * 1px), min(calc((calc((100 * (var(--max) - var(--min))) / (759 - 375)) * 1vw) + (calc(((375 * var(--max)) - (759 * var(--min))) / (375 - 759)) * 1px)), calc(var(--max) * 1px)));
    font-size: max(calc(var(--min) * 1px), min(calc((var(--preferred-scale) * 1vw) + (var(--preferred-base) * 1px)), calc(var(--max) * 1px)));
    font-family: var(--display-family);
    font-weight: var(--display-weight);
    line-height: calc(var(--lh) * 1em);
    letter-spacing: calc(var(--ls) * 1em)
}

@media (min-width:760px) {
    .display__Ajr5Q {
        --bp-min: 760;
        --bp-max: 1199
    }
}

@media (min-width:1200px) {
    .display__Ajr5Q {
        --bp-min: 1200;
        --bp-max: 1511
    }
}

@media (min-width:1512px) {
    .display__Ajr5Q {
        --bp-min: 1512;
        --bp-max: 1920
    }
}

.display_sans__Vs4Xa {
    --display-family: var(--font-family-sans);
    --display-weight: var(--font-weight-bold)
}

.display_serif__zv1mH {
    --display-family: var(--font-family-serif);
    --display-weight: var(--font-weight-light)
}

.display_bold__zXv_X.display_sans__Vs4Xa {
    --display-weight: var(--font-weight-bold)
}

.display_bold__zXv_X.display_serif__zv1mH {
    --display-weight: var(--font-weight-light)
}

.display_regular__OK9iA {
    --display-weight: var(--font-weight-normal)
}

.display_regular__OK9iA.display_serif__zv1mH {
    --display-weight: var(--font-weight-light)
}

.display_lg__oiDso {
    --min: 22;
    --max: 22;
    --lh: 1.2;
    --ls: -0.05
}

@media (min-width:1200px) {
    .display_lg__oiDso {
        --min: 22;
        --max: 26;
        --lh: 1.2;
        --ls: -0.04
    }
}

@media (min-width:1512px) {
    .display_lg__oiDso {
        --min: 26;
        --max: 32;
        --lh: 1.15;
        --ls: -0.05%
    }
}

.display_2xl__lNb0q {
    --min: 120;
    --max: 137;
    --lh: 0.8;
    --ls: -0.08
}

@media (min-width:760px) {
    .display_2xl__lNb0q {
        --min: 88;
        --max: 124;
        --lh: 0.8;
        --ls: -0.08
    }
}

@media (min-width:1200px) {
    .display_2xl__lNb0q {
        --min: 124;
        --max: 160;
        --lh: 0.8;
        --ls: -0.08
    }
}

@media (min-width:1512px) {
    .display_2xl__lNb0q {
        --min: 160;
        --max: 200;
        --lh: 0.8;
        --ls: -0.08
    }
}

.display_h1__q7A1I {
    --min: 56;
    --max: 67;
    --lh: 0.9;
    --ls: -0.05
}

@media (min-width:760px) {
    .display_h1__q7A1I {
        --min: 64;
        --max: 77;
        --lh: 0.9;
        --ls: -0.05
    }
}

@media (min-width:1200px) {
    .display_h1__q7A1I {
        --min: 80;
        --max: 96;
        --lh: 0.9;
        --ls: -0.05
    }
}

@media (min-width:1512px) {
    .display_h1__q7A1I {
        --min: 100;
        --max: 124;
        --lh: 0.9;
        --ls: -0.06
    }
}

@media (min-width:1920px) {
    .display_h1__q7A1I {
        --min: 124;
        --max: 124;
        --lh: 0.9;
        --ls: -0.06
    }
}

.display_h2__ujY8C {
    --min: 40;
    --max: 48;
    --lh: 1;
    --ls: -0.05
}

@media (min-width:760px) {
    .display_h2__ujY8C {
        --min: 40;
        --max: 48;
        --lh: 1;
        --ls: -0.05
    }
}

@media (min-width:1200px) {
    .display_h2__ujY8C {
        --min: 48;
        --max: 58;
        --lh: 1;
        --ls: -0.05
    }
}

@media (min-width:1512px) {
    .display_h2__ujY8C {
        --min: 64;
        --max: 77;
        --lh: 1;
        --ls: -0.06
    }
}

@media (min-width:1920px) {
    .display_h2__ujY8C {
        --min: 80;
        --max: 80;
        --lh: 1;
        --ls: -0.06
    }
}

.display_h3__efGt7 {
    --min: 32;
    --max: 38;
    --lh: 1;
    --ls: -0.05
}

@media (min-width:760px) {
    .display_h3__efGt7 {
        --min: 32;
        --max: 38;
        --lh: 1;
        --ls: -0.05
    }
}

@media (min-width:1200px) {
    .display_h3__efGt7 {
        --min: 40;
        --max: 48;
        --lh: 1;
        --ls: -0.05
    }
}

@media (min-width:1512px) {
    .display_h3__efGt7 {
        --min: 48;
        --max: 58;
        --lh: 1;
        --ls: -0.06
    }
}

@media (min-width:1920px) {
    .display_h3__efGt7 {
        --min: 64;
        --max: 64;
        --lh: 1;
        --ls: -0.06
    }
}

.display_h4__Fj2Wg {
    --min: 22;
    --max: 26;
    --lh: 1;
    --ls: -0.04
}

@media (min-width:760px) {
    .display_h4__Fj2Wg {
        --min: 22;
        --max: 26;
        --lh: 1;
        --ls: -0.04
    }
}

@media (min-width:1200px) {
    .display_h4__Fj2Wg {
        --min: 24;
        --max: 29;
        --lh: 1;
        --ls: -0.04
    }
}

@media (min-width:1512px) {
    .display_h4__Fj2Wg {
        --min: 28;
        --max: 34;
        --lh: 1;
        --ls: -0.04
    }
}

@media (min-width:1920px) {
    .display_h4__Fj2Wg {
        --min: 36;
        --max: 36;
        --lh: 1;
        --ls: -0.04
    }
}

.display_h5__BXMKg {
    --min: 18;
    --max: 22;
    --lh: 1.2;
    --ls: -0.01;
    --display-family: var(--font-family-sans);
    --display-weight: var(--font-weight-bold)
}

@media (min-width:760px) {
    .display_h5__BXMKg {
        --min: 18;
        --max: 22;
        --lh: 1.15;
        --ls: -0.01
    }
}

@media (min-width:1200px) {
    .display_h5__BXMKg {
        --min: 18;
        --max: 22;
        --lh: 1.2;
        --ls: -0.01
    }
}

@media (min-width:1512px) {
    .display_h5__BXMKg {
        --min: 22;
        --max: 26;
        --lh: 1.15;
        --ls: -0.01
    }
}

@media (min-width:1920px) {
    .display_h5__BXMKg {
        --min: 28;
        --max: 28;
        --lh: 1.15;
        --ls: -0.01
    }
}

.display_h6__qWFtz {
    --min: 16;
    --max: 19;
    --lh: 1.25;
    --ls: -0.01;
    --display-family: var(--font-family-sans);
    --display-weight: var(--font-weight-bold)
}

@media (min-width:760px) {
    .display_h6__qWFtz {
        --min: 16;
        --max: 19;
        --lh: 1.25;
        --ls: -0.01
    }
}

@media (min-width:1200px) {
    .display_h6__qWFtz {
        --min: 16;
        --max: 19;
        --lh: 1.2;
        --ls: -0.01
    }
}

@media (min-width:1512px) {
    .display_h6__qWFtz {
        --min: 20;
        --max: 24;
        --lh: 1.2;
        --ls: -0.01
    }
}

@media (min-width:1920px) {
    .display_h6__qWFtz {
        --min: 24;
        --max: 24;
        --lh: 1.2;
        --ls: -0.01
    }
}

.badge__UtuQ3 {
    display: inline-flex;
    gap: 6px;
    flex: none;
    align-items: center;
    font-family: var(--font-family-sans);
    color: var(--color-black);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-base);
    line-height: 1;
    height: -moz-fit-content;
    height: fit-content;
    text-wrap: nowrap
}

@media (min-width:1512px) {
    .badge__UtuQ3 {
        font-size: var(--text-lg)
    }
}

@media (min-width:1920px) {
    .badge__UtuQ3 {
        font-size: 1.375rem
    }
}

.badge__UtuQ3:before {
    content: "";
    display: inline-flex;
    height: var(--spacing-0-75);
    width: var(--spacing-0-75);
    border-radius: var(--radius-round)
}

@media (min-width:1512px) {
    .badge__UtuQ3:before {
        height: .875rem;
        width: .875rem
    }
}

@media (min-width:1920px) {
    .badge__UtuQ3:before {
        height: var(--spacing-1);
        width: var(--spacing-1)
    }
}

.badge__UtuQ3.small__wRPK7 {
    gap: 4px;
    font-size: var(--text-sm)
}

.badge__UtuQ3.small__wRPK7:before {
    content: "";
    display: inline-flex;
    height: 10px;
    width: 10px
}

.badge__UtuQ3.pill__opPf7 {
    border-radius: var(--radius-lg);
    padding: var(--spacing-0-25) var(--spacing-0-5) 5px
}

@media (min-width:760px) {
    .badge__UtuQ3.pill__opPf7 {
        padding: 5px var(--spacing-0-5)
    }
}

@media (min-width:1512px) {
    .badge__UtuQ3.pill__opPf7 {
        padding: 6px 10px 6px 6px
    }
}

@media (min-width:1920px) {
    .badge__UtuQ3.pill__opPf7 {
        border-radius: 25px;
        padding: var(--spacing-0-5) var(--spacing-0-5) var(--spacing-0-5) var(--spacing-0-5)
    }
}

.badge__UtuQ3.pill__opPf7:before {
    background-color: var(--color-black);
    display: none
}

.badge__UtuQ3.pill__opPf7.with_dot__oYkWd {
    padding: var(--spacing-0-25) var(--spacing-0-5) 5px 5px
}

@media (min-width:760px) {
    .badge__UtuQ3.pill__opPf7.with_dot__oYkWd {
        padding: 5px var(--spacing-0-5) 5px 5px
    }
}

@media (min-width:1512px) {
    .badge__UtuQ3.pill__opPf7.with_dot__oYkWd {
        padding: 6px 10px 6px 6px
    }
}

@media (min-width:1920px) {
    .badge__UtuQ3.pill__opPf7.with_dot__oYkWd {
        border-radius: 25px;
        padding: var(--spacing-0-5) var(--spacing-0-75) var(--spacing-0-5) var(--spacing-0-5)
    }
}

.badge__UtuQ3.pill__opPf7.with_dot__oYkWd:before {
    display: inline-flex
}

.badge__UtuQ3.pill__opPf7.orange__KJ0KC {
    background-color: var(--color-orange)
}

.badge__UtuQ3.pill__opPf7.teal__exQIC {
    background-color: var(--color-teal-light)
}

.badge__UtuQ3.pill__opPf7.green__A_C52 {
    background-color: var(--color-green)
}

.badge__UtuQ3.pill__opPf7.yellow__es1jf {
    background-color: var(--color-yellow-light)
}

.badge__UtuQ3.pill__opPf7.grey__ltPrr {
    background-color: var(--color-black-60a);
    color: var(--color-white)
}

.badge__UtuQ3.pill__opPf7.grey__ltPrr:before {
    background-color: var(--color-white)
}

.badge__UtuQ3.dot__aO2AO.orange__KJ0KC:before {
    background-color: var(--color-orange)
}

.badge__UtuQ3.dot__aO2AO.grey__ltPrr:before {
    background-color: var(--color-black-60a)
}

.badge__UtuQ3.dot__aO2AO.teal__exQIC:before {
    background-color: var(--color-teal-light)
}

.badge__UtuQ3.dot__aO2AO.green__A_C52:before {
    background-color: var(--color-green)
}

.badge__UtuQ3.dot__aO2AO.yellow__es1jf:before {
    background-color: var(--color-yellow-light)
}

.sr_only__JqwCI {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0
}

.product_tray_tile__j6lee {
    color: var(--color-black);
    border-radius: 6px;
    position: relative;
    background-color: transparent;
    transition: background-color .3s var(--ease-out-cubic)
}

.product_tray_tile__j6lee:focus-visible {
    outline: 2px solid var(--color-blue);
    border-radius: var(--radius-button)
}

.product_tray_tile__j6lee:hover {
    -webkit-text-decoration: none;
    text-decoration: none
}

@media (hover:hover) {
    .product_tray_tile__j6lee:hover {
        background-color: var(--color-cream)
    }

    .product_tray_tile__j6lee:hover .product_tray_tile__image__RcwwX {
        transform: scale(1.05)
    }
}

@media (min-width:760px) {
    .product_tray_tile__j6lee {
        padding: 10px 12px
    }

    .product_tray_tile__j6lee:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: var(--color-black-20a);
        height: 100%;
        width: 1px
    }
}

@media (min-width:1200px) {
    .product_tray_tile__j6lee {
        padding: 7px
    }

    .product_tray_tile__j6lee:before {
        display: none
    }
}

@media (min-width:1512px) {
    .product_tray_tile__j6lee {
        padding: 11px
    }
}

@media (min-width:1920px) {
    .product_tray_tile__j6lee {
        padding: 15px
    }
}

.product_tray__badge__WPpWE {
    padding: 4px var(--spacing-0-5) 3px !important;
    line-height: 17px !important
}

.product_tray__badge__WPpWE:before {
    width: 8px;
    height: 8px
}

.product_tray_tile__image_wrapper__m8cmB {
    overflow: hidden;
    margin: var(--spacing-0-75) 0
}

@media (min-width:1920px) {
    .product_tray_tile__image_wrapper__m8cmB {
        margin: var(--spacing-1) 0
    }
}

.product_tray_tile__image_wrapper__m8cmB .product_tray_tile__image__RcwwX {
    transition: transform .5s var(--ease-out-cubic)
}

.product_tray_tile__image_wrapper__m8cmB .product_tray_tile__image__RcwwX img {
    -o-object-position: bottom;
    object-position: bottom
}

.product_tray_tile__text_wrapper__NXurQ {
    display: flex;
    justify-content: space-between
}

.product_tray_tile__text_wrapper__NXurQ>span {
    width: 95%
}

.product_tray_tile__text_wrapper__NXurQ>svg {
    width: 8px;
    transform: rotate(-90deg)
}

.product_tray_tile__text__axZvF {
    line-height: var(--leading-tight);
    text-wrap: balance
}

.img_root__miOAk {
    position: relative;
    overflow: hidden;
    aspect-ratio: var(--img-aspect-ratio);
    perspective: 1000
}

.img_root__miOAk,
.img_root__miOAk.fill__Nkleg {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    min-height: 100%;
    min-width: 100%
}

.img_root__miOAk.fill__Nkleg {
    aspect-ratio: unset
}

.lqip__iWOSC {
    position: absolute;
    filter: blur(4px);
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    background-size: cover;
    background-position: 50%;
    backface-visibility: hidden;
    transition: opacity .4s ease-out;
    transform: translateZ(0);
    pointer-events: none
}

.img__gAX5H,
.lqip__iWOSC.hidden__C5lwV {
    transition: opacity .6s ease-out var(--img-reveal-delay);
    opacity: 0
}

.img__gAX5H {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    min-height: 100%;
    min-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    backface-visibility: hidden;
    transform: translateZ(0)
}

.img__gAX5H.loaded__qCyjH {
    opacity: 1
}

@keyframes lqipHide__Aq7et {
    0% {
        opacity: 1
    }

    to {
        opacity: 0;
        display: none
    }
}

.tray_link__Cq1Aw {
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-button);
    padding: var(--spacing-1) 0 var(--spacing-0-75) var(--spacing-0-75);
    background-color: transparent;
    transition: background-color .3s var(--ease-out-cubic)
}

.tray_link__Cq1Aw:focus-visible {
    outline: 2px solid var(--color-blue);
    border-radius: var(--radius-button)
}

.tray_link__Cq1Aw:hover {
    -webkit-text-decoration: none;
    text-decoration: none
}

@media (hover:hover) {
    .tray_link__Cq1Aw:hover {
        background-color: var(--color-cream)
    }
}

@media (min-width:760px) {
    .tray_link__Cq1Aw {
        padding: var(--spacing-0-75);
        position: relative
    }

    .tray_link__Cq1Aw:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: var(--color-black-20a);
        height: 100%;
        width: 1px
    }
}

@media (min-width:1200px) {
    .tray_link__Cq1Aw {
        padding: var(--spacing-0-5)
    }

    .tray_link__Cq1Aw:before {
        display: none
    }
}

@media (min-width:1512px) {
    .tray_link__Cq1Aw {
        padding: var(--spacing-0-75)
    }
}

@media (min-width:1920px) {
    .tray_link__Cq1Aw {
        padding: var(--spacing-1)
    }
}

.tray_link__text__ma8OZ {
    display: inline-flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    width: 100%
}

.tray_link__text__ma8OZ>svg {
    margin-left: auto;
    width: 8px;
    transform: rotate(-90deg)
}

.tray_link__title__NPYHx {
    display: inline-flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    letter-spacing: var(--tracking-tight);
    line-height: var(--leading-tight);
    margin-bottom: 3px
}

.tray_link__subtitle__vXlpT {
    color: var(--color-black-80a);
    font-weight: var(--font-weight-normal) !important;
    line-height: var(--leading-normal) !important;
    max-width: calc(100% - 24px)
}

@media (min-width:1200px) {
    .tray_link__subtitle__vXlpT {
        color: var(--color-black-60a)
    }
}

.resources_tray__sVAF8 {
    display: grid;
    grid-template-rows: 1fr;
    padding-top: var(--spacing-0-5);
    border-radius: var(--radius-button)
}

@media (min-width:1200px) {
    .resources_tray__sVAF8 {
        position: absolute;
        top: 125%;
        left: 0;
        grid-template-columns: repeat(2, 1fr);
        width: 564px;
        border: 1px solid var(--color-black-20a);
        padding-top: 0
    }
}

@media (min-width:1512px) {
    .resources_tray__sVAF8 {
        width: 720px
    }
}

@media (min-width:1920px) {
    .resources_tray__sVAF8 {
        width: 860px
    }
}

.resources_tray__section_links__EveVj {
    padding: var(--spacing-0-5);
    background: var(--color-white);
    border-top-left-radius: var(--radius-sm);
    border-bottom-left-radius: var(--radius-sm);
    display: grid;
    overflow: hidden
}

@media (min-width:760px) {
    .resources_tray__section_links__EveVj {
        padding: var(--spacing-0-5) 0;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: var(--spacing-1)
    }
}

@media (min-width:1200px) {
    .resources_tray__section_links__EveVj {
        padding: var(--spacing-0-75);
        grid-area: 1/2/2/1;
        grid-template-columns: repeat(1, 1fr)
    }
}

@media (min-width:1512px) {
    .resources_tray__section_links__EveVj {
        padding: var(--spacing-0-75)
    }
}

@media (min-width:1920px) {
    .resources_tray__section_links__EveVj {
        padding: var(--spacing-1)
    }
}

.resources_tray__section_featured__wy5uG {
    padding: var(--spacing-1) var(--spacing-0-5) var(--spacing-0-5);
    background-color: var(--color-black);
    border-radius: var(--radius-sm);
    color: var(--color-white);
    display: flex;
    flex-direction: column
}

@media (min-width:1200px) {
    .resources_tray__section_featured__wy5uG {
        grid-area: 1/2/2/3;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }
}

@media (min-width:1512px) {
    .resources_tray__section_featured__wy5uG {
        padding: var(--spacing-1-25) var(--spacing-0-75) var(--spacing-0-75)
    }
}

@media (min-width:1920px) {
    .resources_tray__section_featured__wy5uG {
        padding: var(--spacing-1-5) var(--spacing-1) var(--spacing-1)
    }
}

.resources_tray__section_featured__heading___qL6V {
    margin-left: var(--spacing-0-5);
    margin-bottom: var(--spacing-0-5)
}

@media (min-width:1512px) {
    .resources_tray__section_featured__heading___qL6V {
        margin-left: var(--spacing-0-75)
    }
}

@media (min-width:1920px) {
    .resources_tray__section_featured__heading___qL6V {
        margin-left: var(--spacing-1)
    }
}

.resources_tray__featured_tiles_wrapper__ljkhS {
    display: flex;
    flex-direction: column
}

@media (min-width:760px) {
    .resources_tray__featured_tiles_wrapper__ljkhS {
        flex-direction: row
    }
}

@media (min-width:1200px) {
    .resources_tray__featured_tiles_wrapper__ljkhS {
        flex-direction: column
    }
}

.featured_resource_tile__qrl4R {
    color: var(--color-white);
    border-radius: var(--radius-button);
    padding: var(--spacing-0-5);
    display: flex;
    gap: var(--spacing-0-75);
    flex: 1;
    flex-direction: column;
    background-color: transparent;
    transition: background-color .3s var(--ease-out-cubic)
}

.featured_resource_tile__qrl4R:focus-visible {
    outline: 2px solid var(--color-blue);
    border-radius: var(--radius-button)
}

@media (hover:hover) {
    .featured_resource_tile__qrl4R:hover {
        background-color: var(--color-white-20a);
        -webkit-text-decoration: none;
        text-decoration: none
    }

    .featured_resource_tile__qrl4R:hover .featured_resource_tile__image__sO69b {
        transform: scale(1.05)
    }
}

@media (min-width:760px) {
    .featured_resource_tile__qrl4R {
        flex-direction: column;
        gap: var(--spacing-0-5)
    }
}

@media (min-width:1512px) {
    .featured_resource_tile__qrl4R {
        padding: var(--spacing-0-75);
        gap: var(--spacing-0-75)
    }
}

@media (min-width:1920px) {
    .featured_resource_tile__qrl4R {
        padding: var(--spacing-1);
        gap: var(--spacing-1);
        border-radius: var(--radius-sm)
    }
}

.featured_resource_tile__image_wrapper__E5EZW {
    max-width: 100%;
    aspect-ratio: 1600/750;
    overflow: hidden
}

@media (min-width:760px) {
    .featured_resource_tile__image_wrapper__E5EZW {
        max-width: 100%
    }
}

.featured_resource_tile__image_wrapper__E5EZW .featured_resource_tile__image__sO69b {
    transition: transform .5s var(--ease-out-cubic);
    aspect-ratio: 4/4
}

@media (min-width:760px) {
    .featured_resource_tile__image_wrapper__E5EZW .featured_resource_tile__image__sO69b {
        aspect-ratio: unset
    }
}

.featured_resource_tile__text_wrapper__oxXQc {
    color: inherit;
    display: flex;
    flex-direction: column;
    max-width: 70%
}

@media (min-width:1200px) {
    .featured_resource_tile__text_wrapper__oxXQc {
        max-width: 100%
    }
}

.featured_resource_tile__title__T1vhz {
    line-height: var(--leading-tight);
    font-size: 15px;
    text-wrap: balance
}

.featured_resource_tile__description__aBiWE {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--color-white-60a);
    font-weight: var(--font-weight-normal);
    margin-top: var(--spacing-0-25);
    line-height: var(--leading-normal)
}

@media (min-width:760px) {
    .featured_resource_tile__description__aBiWE {
        -webkit-line-clamp: 1
    }
}

.lqip__frmyg {
    position: absolute;
    width: 110%;
    height: 110%;
    left: -5%;
    top: -5%;
    pointer-events: none
}

.img_root__pA_XT {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    perspective: 1000;
    backface-visibility: hidden;
    transform: translateZ(0);
    aspect-ratio: var(--img-aspect-ratio)
}

.img_root__pA_XT.auto__mhEkU .img__f9A7d {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    min-height: 100%;
    min-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    z-index: 1
}

.img_root__pA_XT.cover__gpOdl {
    aspect-ratio: unset;
    width: 100%;
    height: 100%
}

.img_root__pA_XT.cover__gpOdl .img__f9A7d {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    min-height: 100%;
    min-width: 100%
}

.img_root__pA_XT.cover__gpOdl .img__f9A7d,
.img_root__pA_XT.cover__gpOdl .lqip__frmyg {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center
}

.img_root__pA_XT.contain__R8NZC {
    aspect-ratio: unset;
    width: 100%;
    height: 100%
}

.img_root__pA_XT.contain__R8NZC .img__f9A7d {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    min-height: 100%;
    min-width: 100%
}

.img_root__pA_XT.contain__R8NZC .img__f9A7d,
.img_root__pA_XT.contain__R8NZC .lqip__frmyg {
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center
}

.img_root__pA_XT.pixelate__wkvYe .lqip__frmyg {
    image-rendering: pixelated
}

.img_root__pA_XT.loaded__bzcyD .lqip__frmyg {
    animation: lqipHide__qGqrA var(--lqip-reveal-step) ease-out var(--lqip-reveal-delay) forwards
}

.img_root__pA_XT.slow_transition__aa5F3.loaded__bzcyD .lqip__frmyg {
    animation: lqipHide__qGqrA var(--img-reveal-duration) var(--ease-out-quint) var(--lqip-reveal-delay) forwards
}

.img_root__pA_XT.no_lqip__df9Xp .img__f9A7d {
    transition: opacity var(--img-reveal-duration) var(--ease-out-quint) var(--img-reveal-delay);
    opacity: 0
}

.img_root__pA_XT.no_lqip__df9Xp.loaded__bzcyD .img__f9A7d {
    opacity: 1
}

@keyframes lqipHide__qGqrA {
    0% {
        opacity: 1
    }

    to {
        opacity: 0;
        display: none
    }
}

.right_island__cqoMO {
    /* display: flex; */
    display: none !important;
    gap: var(--spacing-0-75);
    background: var(--color-white);
    color: var(--color-black);
    box-shadow: 0 0 2px 0 var(--color-black-20a);
    border-radius: var(--radius-sm);
    padding: var(--spacing-0-25);
    max-width: -moz-max-content;
    max-width: max-content;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: var(--spacing-0-75)
}

@media (min-width:760px) {
    .right_island__cqoMO {
        margin-top: var(--spacing-1)
    }
}

@media (min-width:1200px) {
    .right_island__cqoMO {
        margin-top: var(--spacing-1-5)
    }
}

@media (min-width:1512px) {
    .right_island__cqoMO {
        margin-top: var(--spacing-1-5)
    }
}

.right_island__cqoMO.borderless__QB6zx {
    border-color: transparent;
    background-color: transparent
}

@media (min-width:1200px) {
    .right_island__cqoMO {
        padding: 6px
    }
}

@media (min-width:1512px) {
    .right_island__cqoMO {
        padding: 7px
    }
}

.right_island__links__m7A5k {
    display: flex;
    align-items: center
}

.right_island__links__m7A5k a:hover {
    -webkit-text-decoration: none;
    text-decoration: none
}

.btn__OJSKZ {
    display: inline-block;
    position: relative
}

.btn__OJSKZ:hover {
    -webkit-text-decoration: none;
    text-decoration: none
}

.btn__OJSKZ:focus-visible {
    outline: 2px solid var(--color-blue);
    border-radius: var(--radius-button)
}

.btn__OJSKZ .background_wrapper__DaV4c {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    overflow: hidden;
    border-radius: var(--radius-button)
}

@media (min-width:760px) {
    .btn__OJSKZ .background_wrapper__DaV4c .background__Tz1lV {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 0;
        background: linear-gradient(114deg, #fe318d 5%, #ff3973 18%, #ef7976 31%, #fd9454 47%, #d5877e 67%, #9bd91a 83%, #09f200 100%, #3ed20d 0);
        filter: contrast(135%);
        transform-origin: center center;
        animation: buttonBackdropAnimation__nAtOD 5s linear infinite
    }
}

@media (min-width:760px) and (prefers-reduced-motion) {
    .btn__OJSKZ .background_wrapper__DaV4c .background__Tz1lV {
        animation: none
    }
}

.btn__OJSKZ .foreground__FzNcQ {
    position: relative;
    display: block;
    z-index: 1;
    border: var(--stroke-2) solid transparent;
    border-radius: var(--radius-button);
    font-weight: var(--font-weight-bold);
    line-height: var(--leading-none);
    letter-spacing: var(--tracking-tight);
    text-align: center;
    text-wrap: nowrap;
    width: 100%;
    transition: transform .33s var(--ease-out-expo)
}

.btn__OJSKZ.size_base__FqE55 .foreground__FzNcQ {
    font-size: 16px;
    padding: 14px var(--spacing-1-5)
}

@media (min-width:760px) {
    .btn__OJSKZ.size_base__FqE55 .foreground__FzNcQ {
        font-size: 14px;
        padding: 9px var(--spacing-1)
    }
}

@media (min-width:1512px) {
    .btn__OJSKZ.size_base__FqE55 .foreground__FzNcQ {
        font-size: 16px;
        padding: 10px var(--spacing-1)
    }
}

@media (min-width:1920px) {
    .btn__OJSKZ.size_base__FqE55 .foreground__FzNcQ {
        font-size: 20px;
        padding: 14px var(--spacing-1-25)
    }
}

.btn__OJSKZ.size_lg__pHoEo .foreground__FzNcQ {
    font-size: 16px;
    padding: 14px var(--spacing-1-5)
}

.btn__OJSKZ.primary__tAcqa .foreground__FzNcQ {
    background: var(--color-black);
    color: var(--color-white)
}

@media (min-width:760px) {

    .btn__OJSKZ.primary__tAcqa:focus-visible,
    .btn__OJSKZ.primary__tAcqa:hover {
        outline: none
    }

    .btn__OJSKZ.primary__tAcqa:focus-visible .foreground__FzNcQ,
    .btn__OJSKZ.primary__tAcqa:hover .foreground__FzNcQ {
        transform: translateX(3px) translateY(-3px)
    }
}

@media (min-width:760px) and (min-width:1920px) {

    .btn__OJSKZ.primary__tAcqa:focus-visible .foreground__FzNcQ,
    .btn__OJSKZ.primary__tAcqa:hover .foreground__FzNcQ {
        transform: translateX(4px) translateY(-4px)
    }
}

@media (min-width:760px) {
    .btn__OJSKZ.primary__tAcqa:active {
        transition: transform 0s
    }

    .btn__OJSKZ.primary__tAcqa:active .foreground__FzNcQ {
        transform: translateX(1px) translateY(-1px)
    }
}

@media (min-width:760px) and (min-width:1920px) {
    .btn__OJSKZ.primary__tAcqa:active .foreground__FzNcQ {
        transform: translateX(1px) translateY(-1px)
    }
}

.btn__OJSKZ.primary__tAcqa.invert__Zm_F3 .background_wrapper__DaV4c .background__Tz1lV {
    background: linear-gradient(114deg, #f3e90b, #ffb700 16%, #ff7500 31%, #ff4100 50%, #49b86c 68%, #05e7d2 83%, #8cd9e5 100%, #3ed20d 0)
}

.btn__OJSKZ.primary__tAcqa.invert__Zm_F3 .foreground__FzNcQ {
    background: var(--color-white);
    color: var(--color-black)
}

.btn__OJSKZ.secondary__xrwNg .background__Tz1lV {
    display: none
}

.btn__OJSKZ.secondary__xrwNg .foreground__FzNcQ {
    transition: background-color var(--ease-out-expo) .33s, color var(--ease-out-expo) .33s;
    color: var(--color-black);
    border: var(--stroke-2) solid var(--color-black)
}

@media (min-width:760px) {
    .btn__OJSKZ.secondary__xrwNg:hover .foreground__FzNcQ {
        background: var(--color-black);
        color: var(--color-white)
    }
}

.btn__OJSKZ.secondary__xrwNg.invert__Zm_F3 .foreground__FzNcQ {
    color: var(--color-white);
    border: var(--stroke-2) solid var(--color-white)
}

@media (min-width:760px) {
    .btn__OJSKZ.secondary__xrwNg.invert__Zm_F3:hover .foreground__FzNcQ {
        background: var(--color-white);
        color: var(--color-black)
    }
}

.btn__OJSKZ.ghost__dm6xL .background__Tz1lV {
    display: none
}

.btn__OJSKZ.ghost__dm6xL .foreground__FzNcQ {
    background: var(--color-white);
    color: var(--color-black);
    padding: 14px var(--spacing-0-5)
}

@media (min-width:760px) {
    .btn__OJSKZ.ghost__dm6xL .foreground__FzNcQ {
        padding: 9px var(--spacing-0-5);
        font-size: 14px
    }
}

@media (min-width:1512px) {
    .btn__OJSKZ.ghost__dm6xL .foreground__FzNcQ {
        padding: 10px var(--spacing-0-75);
        font-size: 16px
    }
}

@media (min-width:1920px) {
    .btn__OJSKZ.ghost__dm6xL .foreground__FzNcQ {
        padding: 14px var(--spacing-0-75);
        font-size: 20px
    }
}

@media (min-width:760px) {
    .btn__OJSKZ.ghost__dm6xL:hover .foreground__FzNcQ {
        background: var(--color-cream)
    }
}

@keyframes buttonBackdropAnimation__nAtOD {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scaleX(2)
    }

    to {
        transform: scale(1)
    }
}

.hamburger_menu__button__zpCrp {
    height: 32px;
    color: var(--color-black)
}

.hamburger_menu__button__zpCrp.hidden__IXnon {
    display: none
}

@media (hover:hover) {
    .hamburger_menu__button__zpCrp:hover {
        background-color: var(--color-cream);
        border-radius: var(--radius-button)
    }
}

@media (min-width:760px) {
    .hamburger_menu__button__zpCrp:focus-visible {
        outline: 2px solid var(--color-blue);
        border-radius: var(--radius-button)
    }
}

.hamburger_menu__condensed_tray__WkOFs {
    background-color: var(--color-white);
    padding-top: 48px;
    max-height: 100dvh;
    overflow-y: scroll;
    z-index: -1;
    border-radius: var(--radius-sm);
    position: fixed;
    top: var(--spacing-0-5);
    left: var(--spacing-0-5);
    right: var(--spacing-0-5);
    visibility: hidden
}

.hamburger_menu__condensed_tray__WkOFs.open__rhAW3 {
    visibility: visible
}

@media (min-width:760px) {
    .hamburger_menu__condensed_tray__WkOFs {
        top: var(--spacing-0-75);
        left: var(--spacing-0-75);
        right: var(--spacing-0-75)
    }
}

.hamburger_menu__condensed_tray__logo__aN0J5 {
    height: 50px;
    position: fixed;
    background-color: var(--color-white);
    z-index: 1;
    top: var(--spacing-0-5);
    left: var(--spacing-0-5);
    right: var(--spacing-0-5);
    border-radius: var(--radius-sm) var(--radius-sm) 0 0;
    border-bottom: 1px solid var(--color-black-20a)
}

@media (min-width:760px) {
    .hamburger_menu__condensed_tray__logo__aN0J5 {
        top: var(--spacing-0-75);
        left: var(--spacing-0-75);
        right: var(--spacing-0-75)
    }
}

.hamburger_menu__condensed_tray__logo__aN0J5>a {
    width: 32px;
    height: 32px;
    color: var(--color-black);
    position: absolute;
    top: 9px;
    left: 9px
}

.hamburger_menu__condensed_tray__logo__aN0J5>button {
    width: 32px;
    height: 32px;
    color: var(--color-black);
    position: absolute;
    top: 9px;
    right: 9px
}

.hamburger_menu__condensed_tray__contents__X28k_ {
    border-top: 1px solid var(--color-black-20a);
    padding: var(--spacing-1) var(--spacing-1-5) var(--spacing-1-5) var(--spacing-1-5)
}

.hamburger_menu__ctas__rff6_ {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-0-5);
    border-top: 1px solid var(--color-black-20a);
    padding: var(--spacing-1-5)
}

@media (min-width:760px) {
    .hamburger_menu__ctas__rff6_ {
        padding: var(--spacing-1-25);
        display: grid;
        grid-template-columns: 1fr 1fr
    }
}

.hamburger_menu__condensed_tray__secondary_ctas__HgDOP {
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-1)
}

.hamburger_menu__condensed_tray__secondary_cta__rxaPE {
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--tracking-tight);
    padding: 12px 0
}

@media (min-width:760px) {
    .hamburger_menu__condensed_tray__secondary_cta__rxaPE {
        padding: 9px 0;
        font-size: var(--text-base)
    }
}

@media (min-width:1512px) {
    .hamburger_menu__condensed_tray__secondary_cta__rxaPE {
        padding: 10px var(--spacing-0-75)
    }
}

@media (min-width:1920px) {
    .hamburger_menu__condensed_tray__secondary_cta__rxaPE {
        padding: 14px var(--spacing-0-75);
        font-size: text-var(--text-lg)
    }
}

.hamburger_menu__condensed_tray__secondary_cta__rxaPE a {
    color: var(--color-black)
}

.hide_cta__XggWe {
    display: none
}

@font-face {
    font-family: LLMedium;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/MediumLLSub-Regular.5e9341a3.woff2) format("woff2")
}

@font-face {
    font-family: LLMedium;
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url(../fonts/MediumLLSub-Italic.6b79b0e6.woff2) format("woff2")
}

@font-face {
    font-family: LLMedium;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/MediumLLSub-Bold.390f683b.woff2) format("woff2")
}

@font-face {
    font-family: LLMedium;
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src: url(../fonts/MediumLLSub-BoldItalic.b2f73829.woff2) format("woff2")
}

@font-face {
    font-family: LLIvory;
    font-display: swap;
    src: url(../fonts/IvoryLLSub-Light.f8db7b39.woff2) format("woff2")
}

@font-face {
    font-family: Maxi;
    src: url(../fonts/ABCMaxiRound-Regular.1f91b722.woff2) format("woff2");
    font-display: block
}

@font-face {
    font-family: Ozik;
    src: url(../fonts/OZIK-Black.cc67cdc9.woff2) format("woff2");
    font-display: block
}

@font-face {
    font-family: Planar;
    src: url(../fonts/GT-Planar-Retalic-30-Black.d5ad08e0.woff2) format("woff2");
    font-display: block
}

@font-face {
    font-family: Raster;
    src: url(../fonts/FKRasterGroteskCompact-Smooth.dad804eb.woff2) format("woff2");
    font-display: block
}

@font-face {
    font-family: Honey;
    src: url(../fonts/VCHoney-BlackBanner.d27bee27.woff2) format("woff2");
    font-display: block
}

@font-face {
    font-family: Beretta;
    src: url(../fonts/BerettaSansBold-205TF.5976c5ad.woff2) format("woff2");
    font-display: block
}

#layout-wrapper main>:first-child:not(.no-top-padding) {
    padding-top: 80px
}

@media (min-width:760px) {
    #layout-wrapper main>:first-child:not(.no-top-padding) {
        padding-top: 96px
    }
}

@media (min-width:1200px) {
    #layout-wrapper main>:first-child:not(.no-top-padding) {
        padding-top: 144px
    }
}

@media (min-width:1512px) {
    #layout-wrapper main>:first-child:not(.no-top-padding) {
        padding-top: 160px
    }
}

@media (min-width:1920px) {
    #layout-wrapper main>:first-child:not(.no-top-padding) {
        padding-top: 200px
    }
}

:root {
    --color-cream: #f4f3ec;
    --color-black: #17100e;
    --color-black-90a: rgba(23, 16, 14, .9);
    --color-black-80a: rgba(23, 16, 14, .8);
    --color-black-70a: rgba(23, 16, 14, .7);
    --color-black-60a: rgba(23, 16, 14, .6);
    --color-black-50a: rgba(23, 16, 14, .5);
    --color-black-40a: rgba(23, 16, 14, .4);
    --color-black-30a: rgba(23, 16, 14, .3);
    --color-black-20a: rgba(23, 16, 14, .2);
    --color-black-10a: rgba(23, 16, 14, .1);
    --color-white: #fff;
    --color-white-90a: hsla(0, 0%, 100%, .9);
    --color-white-80a: hsla(0, 0%, 100%, .8);
    --color-white-70a: hsla(0, 0%, 100%, .7);
    --color-white-60a: hsla(0, 0%, 100%, .6);
    --color-white-50a: hsla(0, 0%, 100%, .5);
    --color-white-40a: hsla(0, 0%, 100%, .4);
    --color-white-30a: hsla(0, 0%, 100%, .3);
    --color-white-20a: hsla(0, 0%, 100%, .2);
    --color-white-10a: hsla(0, 0%, 100%, .1);
    --color-pink: #ff00af;
    --color-pink-light: #ff7ad5;
    --color-pink-lightest: #ffcbef;
    --color-orange: #ff5600;
    --color-orange-light: #ffa77a;
    --color-orange-lightest: #fdc;
    --color-yellow: #f6f431;
    --color-yellow-light: #faf994;
    --color-yellow-lightest: #fdfdd6;
    --color-blue: #000ce1;
    --color-blue-light: #7a7eef;
    --color-blue-lightest: #cccef8;
    --color-teal: #00edc8;
    --color-teal-light: #79f6e2;
    --color-teal-lightest: #ccfaf4;
    --color-green: #00da00;
    --color-green-light: #7aec7a;
    --color-green-lightest: #ccf8cb;
    --color-success: #1bb157;
    --color-success-dark: #128a40;
    --color-success-light: #d7efdc;
    --color-error: #fd3a57;
    --color-error-dark: #b41d34;
    --color-error-light: #fed9db;
    --color-warning: #fbc916;
    --color-warning-dark: #6f5502;
    --color-warning-light: #feedaf;
    --ease-in-quint: cubic-bezier(0.76, 0.05, 0.86, 0.06);
    --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
    --ease-in-cubic: cubic-bezier(0.55, 0.06, 0.68, 0.19);
    --ease-out-cubic: cubic-bezier(0.22, 0.61, 0.36, 1);
    --ease-in-out-expo: cubic-bezier(0.87, 0, 0.13, 1);
    --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
    --font-family-sans: LLMedium, sans-serif;
    --font-family-serif: LLIvory, serif;
    --font-family-maxi: ABCMaxi, mono;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.875rem;
    --text-4xl: 2.25rem;
    --text-5xl: 3rem;
    --text-6xl: 3.5rem;
    --text-7xl: 4rem;
    --text-8xl: 4.5rem;
    --text-9xl: 5rem;
    --text-10xl: 6rem;
    --tracking-tighter: -0.05em;
    --tracking-tight: -0.025em;
    --tracking-normal: 0em;
    --tracking-wide: -0.025em;
    --tracking-wider: -0.05em;
    --tracking-widest: -0.1em;
    --leading-negative: 0.9;
    --leading-none: 1;
    --leading-tight: 1.15;
    --leading-snug: 1.2;
    --leading-normal: 1.25;
    --leading-relaxed: 1.35;
    --radius-xs: 4px;
    --radius-button: 6px;
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;
    --radius-round: 100%;
    --stroke-0-5: 0.5px;
    --stroke-1: 1px;
    --stroke-1-5: 1.5px;
    --stroke-2: 2px;
    --spacing-0-25: 0.25rem;
    --spacing-0-5: 0.5rem;
    --spacing-0-75: 0.75rem;
    --spacing-1: 1rem;
    --spacing-1-25: 1.25rem;
    --spacing-1-5: 1.5rem;
    --spacing-2: 2rem;
    --spacing-2-5: 2.5rem;
    --spacing-3: 3rem;
    --spacing-3-5: 3.5rem;
    --spacing-4: 4rem;
    --spacing-4-5: 4.5rem;
    --spacing-5: 5rem;
    --spacing-6: 6rem;
    --spacing-7-5: 7.5rem;
    --spacing-10: 10rem;
    --spacing-12: 12rem;
    --spacing-15: 15rem;
    --spacing-17-5: 17.5rem;
    --spacing-22-5: 22.5rem;
    --spacing-30: 30rem;
    --z-nav: 1000;
    --z-nav-open: 9999;
    --z-sticky: 2000;
    --z-modal: 5000;
    --z-popper: 6000
}